html, body {
  background-image: url("table.png");
  font-family: "Exo 2", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  background: #FFF100;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.new-deck-btn {
  align-self: flex-start;
  border-radius: 5%;
}

.draw-cards-btn {
  align-self: stretch;
  font-size: 1.2em;
}

.card-slot {
  border: 1px solid black;
  border-radius: 6%;
  width: 150px;
  height: calc(150px * 7 / 5);  /* Karty występują w formacie 5/7 */
}

div.card-slot:nth-of-type(1) {
    margin-bottom: 10px;
}

.card {
  height: 100%;
  width: 100%;
}

.top {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
}

.top p {
  margin: 0;
  margin-left: 10px;
}

button:disabled {
  cursor: not-allowed;
}

h2 {
  margin: 10px;
}
